# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Database
test.db
*.sqlite3

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Frontend
node_modules/
dist/
dist-ssr/
*.local
.vscode/
.idea/
